<div class="max-w-7xl h-screen mx-auto bg-gray-100">
    <h2 class="text-5xl font-thin text-gray-700 py-4 mx-4">Crear noticia</h2>


    <form class="bg-white px-4 py-2.5 mx-2 shadow-lg">
        <div class="grid gap-6 mb-6 md:grid-cols-2">
            <div>
                <label for="first_name" class="block mb-2 text-3xl font-thin text-gray-700">Autor</label>
                <input type="text" id="first_name"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-sm block w-full p-2.5 focus:outline-blue-500 focus:outline-none focus:outline-offset-[-2px]"
                    placeholder="Juan Rodriguez" required>
            </div>
        </div>

        <!-- https://ckeditor.com/docs/ckeditor5/latest/installation/integrations/angular.html -->

        <!-- app.component.html -->

        <!-- app.component.html -->
        <div class="pb-4">
            <label for="first_name" class="block mb-4 text-3xl font-thin text-gray-700">Contenido</label>
            <!-- <ckeditor [editor]="Editor" [config]="config" data="<h1>Escribe tu noticia aquí...</h1>"></ckeditor> -->
            <editor apiKey="vhkop6pjd0yapry1qoer4yyocpspwm1r0nzdqk0jsefh11pz" 
            [init]="{
                plugins: 'advlist autolink lists link image imagetools charmap print preview anchor searchreplace visualblocks code fullscreen insertdatetime media table paste help wordcount',
                toolbar: 'undo redo | formatselect | bold italic underline strikethrough | alignleft aligncenter alignright alignjustify | outdent indent | numlist bullist | forecolor backcolor removeformat | image link | table | code | help'
              }"
            cloudChannel="6-dev"
            [disabled]="false"
            initialValue="<h1>Creación de noticia...</h1>"
            plugins=""
            outputFormat="text"
            tagName="textarea"
            skin="snow"
            ></editor>
        </div>

        <div class="grid gap-6 mb-6 md:grid-cols-4">
            <div>
                <label for="first_name" class="block mb-2 text-3xl font-thin text-gray-700">Etiquetas</label>
                <input type="text" id="first_name"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-sm block w-full p-2.5 focus:outline-blue-500 focus:outline-none focus:outline-offset-[-2px]"
                    placeholder="Policiales, Política ..." required>
            </div>
        </div>

        <div class="space-x-4 text-end mr-2">
            <button type="submit"
                class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-sm text-sm w-full sm:w-auto px-5 py-2 text-center">Finalizar</button>
            <button type="submit"
                class="text-white bg-gray-500 hover:bg-gray-700 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-sm text-sm w-full sm:w-auto px-5 py-2 text-center">Cancelar</button>
        </div>
    </form>


</div>