<style>
</style>

<!-- Toolbar -->
  <div class="max-w-7xl h-screen mx-auto bg-white">
    <section class="p-4">
      <h3 class="text-blue-700 font-bold text-4xl w-full">
        Crear noticia
      </h3>
      <p class="font-medium text-gray-700 mt-2">Espacio para crear una noticia. Aviso: una vez creada, su noticia se pondrá en
        revisión.</p>

      <div class="grid grid-cols-2 pt-4">
        <div class="col-span-1 border-[1px]">
          AQUI VA EL CONTENIDO
        </div>
        <div class="col-span-1 border-[1px]">
          AQUI VAN RECOMENDACIONES O BLAH BLAH
        </div>
      </div>

    </section>
  </div>
<router-outlet></router-outlet>