<style>
  .pss{
    font-weight: 600;
  }
</style>

<!-- Toolbar -->
  <div class="max-w-7xl mx-auto bg-cyan-200">
    <section class="p-4 flex justify-between items-center">
      <p class="text-2xl font-bold"><a routerLink="">HOLA MUNDO</a></p>
      <nav>
        <ul class="flex space-x-4 text-xl">
          <li><a routerLink="/home">Inicio</a></li>
          <li [ngClass]="{'pss': currentSection === '/create'}"><a routerLink="/create">Crear Noticia</a></li>
          <li><a routerLink="/contact">Contacto</a></li>
        </ul>
      </nav>
    </section>    
  </div>
<router-outlet></router-outlet>